.dialog-form {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    label {
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        color: var(--p-surface-700);
    }
}
