.git
.gitignore
*.md
.vscode
.idea
.dockerignore
LICENSE

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.venv
.uv
backend/.venv
backend/.uv
backend/reports
backend/tests
backend/.pytest_cache
backend/.ruff_cache
backend/.mypy_cache

justfile
.github